<html>
  <head>
    <meta charset='utf-8' />
    <title>siren viewer</title>
    <style>
      body {
        margin: 0px;
      }
    </style>
    <script type='text/javascript' src='lib/three.min.js'></script>
    <script type='text/javascript' src='lib/OrbitControls.js'></script>
    <script type='text/javascript' src='lib/TransformControls.js'></script>
  </head>
  <body>
    <script type='text/javascript' src='viewer.js'></script>
    <script type='text/javascript' src='model.js'></script>
    <script type='text/javascript' src='builder.js'></script>
    <script type='text/javascript' src='axis.js'></script>
  </body>
</html>

