<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <title>siren viewer</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body {
        margin: 0px;
      }
    </style>
    <link rel="stylesheet" href="siren-viewer.css">
    <script type='text/javascript' src='lib/three.min.js'></script>
    <script type='text/javascript' src='lib/OrbitControls.js'></script>
    <script type='text/javascript' src='lib/TransformControls.js'></script>
  </head>
  <body>
    <div id="panel" class='panel'>
      <B>Primitive:</B><br />
      <input class="button" style="width:100px" type="button" id="plane" value="plane" /><br />
      <input class="button" style="width:100px" type="button" id="box" value="box" /><br />
      <input class="button" style="width:100px" type="button" id="cone" value="cone" /><br />
      <input class="button" style="width:100px" type="button" id="cylinder" value="cylinder" /><br />
      <input class="button" style="width:100px" type="button" id="sphere" value="sphere" /><br />
      <input class="button" style="width:100px" type="button" id="torus" value="torus" /><br />
      <hr />
      <B>Edit:</B><br />
      <input class="button" style="width:100px" type="button" id="duplicate" value="duplicate" /><br />
      <input class="button" style="width:100px" type="button" id="remove" value="remove" /><br />
      <hr />
      <B>Property:</B><br />
      <input class="button" style="width:100px" type="button" id="boundbox" value="boundbox" /><br />
    </div>
    <div id="log" class="log">
      OK.
    </div>
    <script type='text/javascript' src='config.js'></script>
    <script type='text/javascript' src='viewer.js'></script>
    <script type='text/javascript' src='model.js'></script>
    <script type='text/javascript' src='builder.js'></script>
    <script type='text/javascript' src='axis.js'></script>
    <script type='text/javascript' src='event.js'></script>
  </body>
</html>

